node_modules
dist
.dockerignore
.git
**/node_modules
**/dist
**/tmp
apps/**/node_modules
**/*.log
.angular
.angular/cache
.nx
.nx/cache
.cache
node_modules/
dist/
build/
**/*.tgz
*.log
.vscode
.idea
.DS_Store
.env
docker-compose.yml
/*.local
