@use '../../../../styles/colors';
@use '../../../../styles/mixins';
@use '../../../../styles/typography';

.header-user-menu {
  @include mixins.flex-align-center;

  .user-menu-trigger {
    color: colors.$white;

    .user-avatar-icon {
      font-size: 32px;
      width: 32px;
      height: 32px;
      &.avatar-user {
        color: colors.$success-600;
      }
      &.avatar-admin {
        color: colors.$warn-600;
      }
      &.avatar-guest {
        color: colors.$white;
        opacity: 0.9;
      }
    }

    &:hover {
      background-color: rgba(colors.$white, 0.1);
    }
  }

  .header-health {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 18px;
    color: colors.$white;

    &.reach {
      background-color: colors.$success-600;
    }
    &.down {
      background-color: colors.$warn-600;
    }
  }
}

/* User menu panel styles moved to global material overrides */

// Responsive adjustments
@media (max-width: 640px) {
  ::ng-deep .user-menu-panel {
    min-width: 240px;

    .user-info-header {
      padding: mixins.spacing(1.5);

      .user-details {
        .user-name {
          font-size: 14px;
        }

        .user-email {
          font-size: 11px;
        }
      }

      .role-badge {
        font-size: 10px;
        padding: mixins.spacing(0.25) mixins.spacing(0.75);
      }
    }

    .mat-mdc-menu-item {
      padding: mixins.spacing(1) mixins.spacing(1.5);
      min-height: 44px;
      font-size: 14px;
    }
  }
}
